<!doctype html>
<html>
<head>
    <title>Auxo Garden</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <a href="/dashboard" class="btn btn-default"><span class="fa fa-user"></span>Dashboard</a>
        </div>
    </div>
</body>
</html>